{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{article.title}}"/>{% endblock %}

{% block body %}
    {% for message in app.flashes('successComment') %}
        <div class="alert alert-success mb-4">
            {{ message|raw }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>{{ article.title }} &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    {% if app.user %}
     {% for role in app.user.roles %}
        {% if role == 'ROLE_ADMIN' %}
            <a href="{{ path('admin_edit_one_article', {'id': article.id}) }}" class="edit-comment badge"><i class="fas fa-edit"></i> &nbsp; éditer</a>
        {% endif %}
    {% endfor %}
    {% endif %}
    <div class="d-block text-center mb-5">
        {% for i in 1..totalContent %}
            {% for image in images %}
                {% if i == image.orderArt %}
                    <figure class="figure center-block">
                        <a href="{{image.url}}" target="_blank"><img src="{{image.url}}" class="figure-img img-fluid img-article" alt="{{image.caption}}"></a>
                        <figcaption class="figure-caption text-center cap-img-article font-italic">{{image.caption}}</figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
            {% for content in contents %}
                {% if i == content.orderArt %}
                    <div class="mb-3 text-left w-75 mx-auto font-para">{{content.contentArt|raw}}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div id="anchorComm" class="block-title">
        <div class="title-bar"><h1>Commentaires &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <div class="row">
        <table class="table table-hover table-striped table-responsive">
            {% if app.user %}
                <tr>
                    <td class="text-center tab-avatar">
                            <img src="/uploads/avatar/{{app.user.avatar}}" alt="Avatar de {{app.user.name}}" class="avatar"><br>
                            <span class="font-weight-bold">{{app.user.name}}</span><br>
                            <span class="badge badge-dark">{{app.user.comments|length}} messages</span>
                    </td>
                    <td class="position-relative block-comment">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary mt-2 mb-1"><i class="fas fa-check"></i> Publier le commentaire</button>
                        {{ form_end(form) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center tab-avatar">
                        <img src="/uploads/avatar/no_avatar.png" alt="Avatar de visiteur" class="avatar"><br>
                        <span class="font-weight-bold">Visiteur</span>
                    </td>
                    <td class="font-weight-bold text-center position-relative block-comment">
                        <span class="d-block mt-2 mb-0 h3">Vous devez vous connecter pour pouvoir publier un commentaire !</span><br>
                        <a href="{{ path('account_login') }}" class="btn btn-primary">Se connecter</a>
                        <a href="{{ path('account_register') }}" class="btn btn-danger">S'inscrire</a>
                    </td>
                </tr>
            {% endif %}
            {% for comment in pagination.getData3 %}
                <tr>
                    <td class="text-center tab-avatar">
                        <img src="/uploads/avatar/{{comment.user.avatar}}" alt="Avatar de {{comment.user.name}}" class="avatar"><br>
                        <span class="font-weight-bold">{{comment.user.name}}</span><br>
                        <span class="badge badge-dark">{{comment.user.comments|length}} messages</span>
                    </td>
                    <td class="position-relative block-comment">
                        <span class="content-comment">{{comment.content}}</span>
                        <div class="block-edit-comment">
                            {% if app.user %}
                                {% set tmp = 0 %}
                                {% for role in app.user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        <a href="{{ path('account_edit_one_comment', {'id': comment.id, 'idArt': article.id}) }}" class="edit-comment badge"><i class="fas fa-edit"></i> &nbsp; éditer</a>
                                        <a href="{{ path('admin_remove_comment_art', {'id': comment.id, 'idArticle': article.id}) }}" class="edit-comment badge"><i class="fas fa-trash"></i> &nbsp; Supprimer</a>
                                        {% set tmp = 1 %}
                                    {% endif %}
                                    {% if app.user == comment.user and tmp == 0 %}
                                        <a href="{{ path('account_edit_one_comment', {'id': comment.id, 'idArt': article.id}) }}) }}" class="edit-comment badge"><i class="fas fa-edit"></i> &nbsp; éditer</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span class="date-comment font-italic font-weight-bold text-left">Le {{comment.createdAt|date('d/m/Y')}} à {{comment.createdAt|date('H:i')}}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ pagination.display3() }}
{% endblock %}