{% extends 'base.html.twig' %}

{% block title %}Guides vidéos{% endblock %}

{% block metaDescription %}<meta name="description" content="Vidéos disponibles sur Eorzéa Compendium"/>{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>Guides vidéos &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <div class="row">
        {% for video in pagination.getData5() %}
            <div class="col-lg-6">
                <div class="video-cat mb-5">
                    <iframe src="{{video.url|raw}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="text-align">
                    {{video.name}}
                    {% if app.user %}
                        {% for role in app.user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                    <a href="{{ path('admin_edit_one_video', {'id': video.id}) }}" class="btn btn-primary mr-1">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{{ path('admin_remove_video', {'id': video.id}) }}" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ pagination.display5() }}
{% endblock %}