<nav class="navbar navbar-expand nav-internal">
    <ul class="navbar-nav row">
        <li class="nav-item col-md-12 col-lg-2"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
        <li class="nav-item col-md-12 col-lg-2 dropdown show" >
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">- Classes</a>
                <a class="dropdown-item" href="#">- PVE</a>
                <a class="dropdown-item" href="#">- PVP</a>
                <a class="dropdown-item" href="#">- Gold Saucer</a>
            </div>
        </li>
        <li class="nav-item col-md-12 col-lg-2"><a class="nav-link" href="">Outils</a></li>
        <li class="nav-item col-md-12 col-lg-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Histoire</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">- Univers</a>
                <a class="dropdown-item" href="#">- Personnages</a>
                <a class="dropdown-item" href="#">- Divers</a>
            </div>
        </li>
        <li class="nav-item col-md-12 col-lg-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Médias</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">- Officiels</a>
                <a class="dropdown-item" href="#">- Guides Vidéos</a>
                <a class="dropdown-item" href="#">- Capture d'écrans</a>
            </div>
        </li>
        <li class="nav-item col-md-12 col-lg-2 last-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% if app.user %}
                    <a class="dropdown-item" href="{{ path('account_profile') }}"><img src="/uploads/avatar/{{ avatar_tmp }}" class="avatar avatar-micro"> &nbsp; Mon Profil</a>
                    <a class="dropdown-item" href="{{ path('account_password') }}"><i class="fas fa-key"></i> &nbsp; Mot de passe</a>
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <hr class="bg-light mt-1 mb-1">
                            <a class="dropdown-item" href="{{ path('admin_create_type_article') }}"><i class="fas fa-newspaper"></i> &nbsp; Créer un article</a>
                            <a class="dropdown-item" href="{{ path('admin_edit_article') }}"><i class="fas fa-edit"></i> &nbsp; Editer un article</a>
                            <a class="dropdown-item" href="{{ path('admin_user_management') }}"><i class="fas fa-user-tag"></i> &nbsp; Utilisateurs</a>
                        {% endif %}
                    {% endfor %}
                    <hr class="bg-light mt-1 mb-1">
                    <a class="dropdown-item logout-color" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i> &nbsp; Se déconnecter</a>
                {% else %}
                    <a class="dropdown-item" href="{{ path('account_login') }}"><i class="fas fa-sign-in-alt"></i> &nbsp; Se connecter</a>
                    <a class="dropdown-item" href="{{ path('account_register') }}"><i class="fas fa-user-alt"></i> &nbsp; S'inscrire</a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>