{% block _article_images_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-image" value="0">
{% endblock %}

{% block _article_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _article_images_entry_widget %}
    <div class="form-group bg-light pt-2 pb-2" id="blockImage_{{id}}">
        <div class="row">
            <div class="col-1 type-btn">
                <div class="btn btn-light"><i class="fas fa-image"></i></div>
            </div>
            <div class="col-10 ligne-btn">
                <div class="d-flex">
                    <div class="col-2 type-order">
                        {{ form_widget(form.orderArt) }}
                    </div>
                    <div class="col-5">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col-5">
                        {{ form_widget(form.caption) }}
                    </div>
                 </div>
            </div>
            <div class="col-1 type-btn">
                <button type="button" data-action="delete" data-target="#blockImage_{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _article_contents_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-content" value="0">
{% endblock %}

{% block _article_contents_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _article_contents_entry_widget %}
    <div class="form-group bg-light pt-2 pb-2" id="blockContent_{{id}}">
        <div class="row">
             <div class="col-1 type-btn">
                <div class="btn btn-light"><i class="fas fa-align-center"></i></div>
            </div>
            <div class="col-10 ligne-btn">
                <div class="d-flex">
                    <div class="col-2 type-order">
                        {{ form_widget(form.orderArt) }}
                    </div>
                    <div class="col-10">
                        {{ form_widget(form.contentArt) }}
                    </div>
                </div>
            </div>
            <div class="col-1 type-btn">
                <button type="button" data-action="delete" data-target="#blockContent_{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}