{% extends 'base.html.twig' %}

{% block title %}Edition du commentaire numéro {{ comment.id }} {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message|raw }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>édition du commentaire {{ comment.id }} &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mt-3 mb-5"><i class="fas fa-check"></i> Enregistrer les modifications</button>
    <a href="{{ path('admin_edit_one_user', {'id': comment.user.id}) }}) }}" class="btn btn-secondary mt-3 mb-5"><i class="fas fa-user"></i> &nbsp; Retour à l'utilisateur</a>
    {{ form_end(form) }}
{% endblock %}
