{% extends 'base.html.twig' %}

{% block title %}Edition d'un article{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message|raw }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>édition d'un article &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Cover</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{article.id}}</td>
                        <td>{{article.title}}</td>
                        <td>{{article.createdAt|date('d/m/Y H:i')}}</td>
                        <td class="cover-td"><img src="../uploads/articles/{{article.cover}}" alt="" class="cover-edit"></td>
                        <td>
                            <a href="{{ path('admin_edit_one_article', {'id': article.id}) }}" class="btn btn-primary">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{ path('admin_remove_article', {'id': article.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
