{% extends 'base.html.twig' %}

{% block title %}Edition d'un article{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message|raw }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>édition d'un article &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    <table class="table table-hover table-striped table-responsive">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Cover</th>
                <th>Type</th>
                <th class="d-flex justify-content-center">Actions</th>
            </tr>
        </thead>
         <tbody>
            {% for article in pagination.data %}
                <tr class="text-center">
                    <td>{{article.id}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.createdAt|date('d/m/Y H:i')}}</td>
                    <td class="cover-td"><img src="/uploads/articles/{{article.cover}}" alt="" class="cover-edit"></td>
                    <td>{{article.type.name}}</td>
                    <td class="d-flex justify-content-center">
                        <a href="{{ path('article_show', { 'slug': article.slug }) }}" class="btn btn-info mr-1">
                            <i class="fas fa-eye"></i>
                        </a>
                        {% if article.type.name == "Lodestone" %}
                        <a href="{{ path('admin_edit_lodestone', {'slug': article.slug}) }}" class="btn btn-primary mr-1">
                            <i class="fas fa-pen"></i>
                        </a>
                        {% else %}
                        <a href="{{ path('admin_edit_one_article', {'slug': article.slug}) }}" class="btn btn-primary mr-1">
                            <i class="fas fa-pen"></i>
                        </a>
                        {% endif %}
                         <a href="{{ path('admin_remove_article', {'id': article.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.display() }}
{% endblock %}
