{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de l'utilisateur {{user.id}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mb-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="block-title">
        <div class="title-bar"><h1>Mot de passe  de l'utilisateur {{user.id}} &nbsp;</h1></div>
        <div class="bar-bar"><hr class="hr-title"></div>
        <img src="{{asset('build/images/logo_title.png')}}" alt="Icone de Chocobo" class="logo-bar">
    </div>
    {{ form_start(form) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.confirmPassword) }}
    <button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> Modifier le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
