<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Eorzea Compendium - {% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('build/images/logo_header.png')}}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        <style>
            body{
                background: url("{{asset('build/images/background.png')}}") center no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            @media (max-width: 370px){
                header #search-header{background : #414042 url("{{asset('build/images/logo_search.png')}}") no-repeat center 50%;}
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}
        <div class="title offset-lg-1 col-lg-10">
            <h1><span>E</span>ORZEA COMPENDIUM</h1>
        </div>
        <div class="container offset-lg-1 col-lg-10">
             {% if app.user %}
                {% if app.user.avatar|slice(app.user.avatar|length - 3, 3) == 'tmp' %}
                    {% set avatar_tmp = 'no_avatar.png' %}
                {% else %}
                    {% set avatar_tmp = app.user.avatar %}
                {% endif %}
            {% endif %}
            {% include "partials/navig.html.twig" %}
            <div class="main-content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% include "partials/footer.html.twig" %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
